ai/n8n/asistente-el-rosal-imagen.json
{
  "name": "Asistente El Rosal - Resumen Visual",
  "nodes": [
    {
      "id": "webhook1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "asistente-el-rosal-imagen",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "ifModo",
      "name": "Viene ya analizado (infografia)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -100,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.mode }}",
              "rightValue": "infografia",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "notes": "Si la consola ya consolido y totalizo los datos (boton Generar infografia), se salta el analisis y va directo a redactar + generar la imagen."
    },
    {
      "id": "codeModoDirecto",
      "name": "Usar analisis del cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        220
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $('Webhook').first().json.body;\nreturn [{ json: body.analysis || {} }];"
      }
    },
    {
      "id": "if1",
      "name": "Tiene datasetId?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        120,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.datasetId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "http1",
      "name": "Traer datos de datos.gov.co",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        180
      ],
      "parameters": {
        "url": "=https://www.datos.gov.co/resource/{{ $json.body.datasetId }}.json",
        "qs": {
          "parameters": [
            {
              "name": "$limit",
              "value": "1000"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "set1",
      "name": "Normalizar filas (Socrata)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        180
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst trigger = $('Webhook').first().json.body;\nreturn [{ json: { rows, datasetName: trigger.datasetName || trigger.datasetId, query: trigger.query || '' } }];"
      }
    },
    {
      "id": "set2",
      "name": "Normalizar filas (manual)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        420
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $('Webhook').first().json.body;\nreturn [{ json: { rows: body.manualData || [], datasetName: body.datasetName || 'Dataset cargado manualmente', query: body.query || '' } }];"
      }
    },
    {
      "id": "code1",
      "name": "Analizar dataset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nconst rawRows = input.rows || [];\nconst datasetName = input.datasetName || \"Dataset\";\nconst query = input.query || \"\";\n\nfunction cleanRows(rows) {\n  if (!rows.length) return rows;\n  const fieldCount = Object.keys(rows[0]).length;\n  return rows.filter(r => {\n    const filled = Object.values(r).filter(v => v !== undefined && v !== null && v !== \"\").length;\n    return filled >= fieldCount * 0.4;\n  });\n}\n\nfunction humanizeField(field) {\n  return String(field).replace(/_/g, \" \").split(\" \")\n    .map(w => w ? w.charAt(0).toUpperCase() + w.slice(1).toLowerCase() : w)\n    .join(\" \");\n}\n\nfunction classifyDataset(name) {\n  const n = (name || \"\").toLowerCase();\n  const rules = [\n    { label: \"Tramites\", kws: [\"tramite\", \"suit\", \"servicio al ciudadano\"] },\n    { label: \"Presupuesto y Finanzas\", kws: [\"presupuesto\", \"ejecucion\", \"gasto\", \"ingreso\", \"financ\", \"contratacion\", \"secop\"] },\n    { label: \"Demografia y Poblacion\", kws: [\"poblacion\", \"demograf\", \"censo\", \"habitantes\"] },\n    { label: \"Discapacidad\", kws: [\"discapacidad\", \"discapacitad\"] },\n    { label: \"Salud\", kws: [\"salud\", \"vacuna\", \"epidemio\", \"eps\", \"hospital\", \"morbilidad\"] },\n    { label: \"Educacion\", kws: [\"educacion\", \"colegio\", \"matricula\", \"escolar\", \"estudiante\"] },\n    { label: \"Seguridad\", kws: [\"seguridad\", \"delito\", \"crimen\", \"hurto\", \"violencia\"] },\n    { label: \"Movilidad\", kws: [\"movilidad\", \"transito\", \"transporte\", \"vehicular\"] },\n    { label: \"Ambiente\", kws: [\"ambiente\", \"ambiental\", \"residuo\", \"agua\", \"bosque\", \"deforest\"] },\n    { label: \"Agropecuario\", kws: [\"agricola\", \"agropecuario\", \"insumo\", \"cultivo\", \"cosecha\"] },\n    { label: \"Construccion e Infraestructura\", kws: [\"construccion\", \"infraestructura\", \"obra\", \"vial\", \"vias\", \"urbanistic\"] },\n  ];\n  for (const r of rules) { if (r.kws.some(k => n.includes(k))) return r.label; }\n  return null;\n}\n\nfunction buildColumnDefs(rows) {\n  const fields = Object.keys(rows[0]).filter(f => !f.startsWith(\":\"));\n  const defs = [];\n  fields.forEach(field => {\n    const values = rows.map(r => r[field]).filter(v =>\n      v !== undefined && v !== null && v !== \"\" && (typeof v !== \"object\" || v instanceof Date)\n    );\n    if (values.length < rows.length * 0.5) return;\n\n    const isIdLike = /^(no\\.?[_ ]?|num(ero)?[_ ]?|id[_ ]?|consecutivo)/i.test(field);\n    const distinctRaw = new Set(values.map(String));\n\n    const looksLikeDate = v => v instanceof Date || (typeof v === \"string\" && /^\\d{4}-\\d{2}-\\d{2}/.test(v));\n    if (values.filter(looksLikeDate).length >= values.length * 0.9) {\n      const dateValues = values.map(v => v instanceof Date ? v : new Date(v)).filter(d => !isNaN(d.getTime()));\n      const years = Array.from(new Set(dateValues.map(d => d.getUTCFullYear()))).sort();\n      if (years.length >= 2) defs.push({ field, kind: \"date\", years });\n      return;\n    }\n\n    const allNumeric = values.every(v => v !== \"\" && !isNaN(Number(v)));\n    if (allNumeric) {\n      const nums = values.map(Number);\n      const allUnique = distinctRaw.size === values.length;\n      const noVariance = distinctRaw.size === 1;\n      if (isIdLike || noVariance || (allUnique && values.length > 15)) return;\n      defs.push({ field, kind: \"numeric\", min: Math.min(...nums), max: Math.max(...nums) });\n      return;\n    }\n\n    const distinct = Array.from(distinctRaw);\n    const avgLen = values.reduce((a, v) => a + String(v).length, 0) / values.length;\n    if (distinct.length >= 2 && distinct.length <= 25 && avgLen < 60) {\n      defs.push({ field, kind: \"categorical\", values: distinct.sort() });\n    }\n  });\n  const order = { categorical: 0, date: 1, numeric: 2 };\n  defs.sort((a, b) => order[a.kind] - order[b.kind]);\n  return defs.slice(0, 8);\n}\n\nfunction formatNum(n) { return Number(n).toLocaleString(\"es-CO\"); }\nfunction formatCell(v) {\n  if (v === undefined || v === null) return \"\";\n  if (typeof v === \"object\") return JSON.stringify(v).slice(0, 40);\n  return String(v);\n}\n\nconst filtered = cleanRows(rawRows);\nif (!filtered.length) {\n  return [{ json: { error: \"El dataset no tiene filas utilizables tras la limpieza.\" } }];\n}\n\nconst columnDefs = buildColumnDefs(filtered);\nconst categoricalDefs = columnDefs.filter(d => d.kind === \"categorical\");\nconst categoricalDef = categoricalDefs[0];\nconst numericDefs = columnDefs.filter(d => d.kind === \"numeric\");\nconst numericDef = numericDefs[0];\nconst dateDef = columnDefs.find(d => d.kind === \"date\");\nconst labelField = (categoricalDef && categoricalDef.field) || (columnDefs[0] && columnDefs[0].field) || Object.keys(filtered[0])[0];\n\nconst displayFields = [];\nif (labelField) displayFields.push(labelField);\nif (numericDef && numericDef.field !== labelField) displayFields.push(numericDef.field);\ncolumnDefs.forEach(d => { if (!displayFields.includes(d.field) && displayFields.length < 6) displayFields.push(d.field); });\n\nconst insights = [];\ninsights.push(\"Se analizaron \" + filtered.length.toLocaleString(\"es-CO\") + \" registros en total.\");\n\nconst stats = [{ label: \"Total de registros\", value: filtered.length.toLocaleString(\"es-CO\") }];\nif (numericDef) {\n  const nums = filtered.map(r => Number(r[numericDef.field])).filter(n => !isNaN(n));\n  const isRateLike = /edad|age|porcentaje|percent|tasa|rate|promedio|indice|índice/i.test(numericDef.field);\n  if (nums.length) {\n    const sum = nums.reduce((a, b) => a + b, 0);\n    const avg = sum / nums.length;\n    if (!isRateLike) stats.push({ label: \"Suma de \" + humanizeField(numericDef.field), value: formatNum(Math.round(sum)) });\n    stats.push({ label: \"Promedio de \" + humanizeField(numericDef.field), value: formatNum(Math.round(avg)) });\n    stats.push({ label: \"Maximo de \" + humanizeField(numericDef.field), value: formatNum(Math.max(...nums)) });\n    insights.push(\"El promedio de \" + humanizeField(numericDef.field) + \" es \" + formatNum(Math.round(avg)) + \".\");\n  }\n} else if (categoricalDef) {\n  stats.push({ label: \"Categorias distintas en \" + humanizeField(categoricalDef.field), value: String(new Set(filtered.map(r => r[categoricalDef.field])).size) });\n}\n\nlet yearCounts = null;\nif (dateDef) {\n  yearCounts = {};\n  filtered.forEach(r => {\n    const d = r[dateDef.field] instanceof Date ? r[dateDef.field] : new Date(r[dateDef.field]);\n    if (!isNaN(d.getTime())) { const y = d.getUTCFullYear(); yearCounts[y] = (yearCounts[y] || 0) + 1; }\n  });\n  const years = Object.keys(yearCounts).map(Number).sort((a, b) => a - b);\n  if (years.length >= 2) {\n    const first = yearCounts[years[0]], last = yearCounts[years[years.length - 1]];\n    const pct = first ? Math.round(((last - first) / first) * 100) : 0;\n    stats.push({ label: years[0] + \" -> \" + years[years.length - 1], value: first + \" -> \" + last + \" (\" + (pct >= 0 ? \"+\" : \"\") + pct + \"%)\" });\n    insights.push(\"Entre \" + years[0] + \" y \" + years[years.length - 1] + \", los registros \" + (pct >= 0 ? \"aumentaron\" : \"disminuyeron\") + \" \" + Math.abs(pct) + \"%.\");\n  }\n}\n\nconst charts = [];\ncategoricalDefs.forEach(def => {\n  const groups = {};\n  filtered.forEach(r => { groups[String(r[def.field] ?? \"Sin dato\")] = (groups[String(r[def.field] ?? \"Sin dato\")] || 0) + 1; });\n  const entries = Object.entries(groups).sort((a, b) => b[1] - a[1]).slice(0, 8);\n  if (entries.length < 2) return;\n  charts.push({ type: entries.length <= 6 ? \"donut\" : \"bar\", title: \"Cantidad de registros por \" + humanizeField(def.field), labels: entries.map(e => e[0]), values: entries.map(e => e[1]) });\n  const total = entries.reduce((a, e) => a + e[1], 0);\n  const topShare = Math.round((entries[0][1] / total) * 100);\n  insights.push(\"En \" + humanizeField(def.field) + \", la categoria predominante es \\\"\" + entries[0][0] + \"\\\" con \" + topShare + \"% del total.\");\n});\n\nif (dateDef && yearCounts) {\n  const years = Object.keys(yearCounts).sort();\n  if (years.length >= 2) charts.push({ type: \"line\", title: \"Tendencia de registros por año\", labels: years, values: years.map(y => yearCounts[y]) });\n}\n\nconst result = {\n  datasetName,\n  query,\n  category: classifyDataset(datasetName),\n  totalRows: filtered.length,\n  stats,\n  insights: insights.slice(0, 6),\n  charts: charts.slice(0, 8),\n  columns: displayFields.map(humanizeField),\n  rows: filtered.slice(0, 50).map(r => displayFields.map(f => formatCell(r[f])))\n};\n\nreturn [{ json: result }];"
      }
    },
    {
      "id": "agent1",
      "name": "Agente IA (redacta narrativa)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1000,
        140
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Pregunta del ciudadano: ' + $json.query + '. Analisis de datos (unica fuente de cifras permitida): ' + JSON.stringify($json) }}",
        "options": {
          "systemMessage": "Eres un redactor de informes de gestion publica para la Alcaldia de El Rosal. A partir del analisis de datos que recibes, responde SOLO con un JSON valido de la forma {\"titulo\": string, \"resumen\": string de maximo 3 frases}. No inventes cifras que no esten en los datos recibidos."
        }
      },
      "notes": "Este nodo solo redacta texto (titulo + resumen) -- los numeros y graficas siempre vienen del analisis deterministico, nunca de aqui. Conecta el modelo de chat que prefieras (OpenAI, Gemini, Anthropic...) al puerto inferior 'Chat Model'; si el modelo no tiene credencial valida, n8n marca este nodo en rojo con el error al ejecutar."
    },
    {
      "id": "chatModel1",
      "name": "Modelo de Chat (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1000,
        320
      ],
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI account"
        }
      },
      "notes": "Cambialo por 'Google Gemini Chat Model' o 'Anthropic Chat Model' si prefieres otro proveedor -- solo borralo y conecta el nuevo al mismo puerto 'Chat Model' del Agente, el resto del flujo no cambia."
    },
    {
      "id": "code3",
      "name": "Preparar prompt de imagen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        460
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const analysis = $input.first().json;\nconst rawCategory = analysis.category || \"\";\nconst category = rawCategory.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\");\n\nconst styleBase = \"professional flat vector illustration, standing confidently, friendly expression, municipal government branding, navy blue and green color palette, simple clean background, no text, no logos\";\n\nconst promptsByCategory = {\n  \"Salud\": \"a friendly doctor wearing a white coat and a stethoscope, \" + styleBase,\n  \"Educacion\": \"a friendly teacher holding a stack of books, \" + styleBase,\n  \"Tramites\": \"a friendly civil servant holding a folder and a clipboard, \" + styleBase,\n  \"Presupuesto y Finanzas\": \"a financial analyst holding a report with a bar chart, \" + styleBase,\n  \"Demografia y Poblacion\": \"a small diverse group of community members standing together, \" + styleBase,\n  \"Discapacidad\": \"an inclusive scene with a person using a wheelchair next to a companion, warm and accessible, \" + styleBase,\n  \"Seguridad\": \"a friendly police officer, \" + styleBase,\n  \"Movilidad\": \"a transit engineer standing next to a bus and a bicycle, \" + styleBase,\n  \"Ambiente\": \"a park ranger planting a tree, \" + styleBase,\n  \"Agropecuario\": \"a farmer holding a basket of fresh produce, \" + styleBase,\n  \"Construccion e Infraestructura\": \"a civil engineer wearing a hard hat holding blueprints, \" + styleBase,\n};\n\nconst defaultPrompt = \"a friendly municipal government employee holding a laptop and documents, \" + styleBase;\nconst imagePrompt = promptsByCategory[category] || defaultPrompt;\n\nreturn [{ json: { imagePrompt } }];"
      }
    },
    {
      "id": "http4",
      "name": "Generar imagen IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        460
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'dall-e-3', prompt: $json.imagePrompt, n: 1, size: '1024x1024', response_format: 'b64_json' }) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "OpenAI API Key (Authorization)"
        }
      },
      "notes": "Requiere una credencial 'Header Auth' llamada Authorization con valor 'Bearer sk-TU-LLAVE' (incluye la palabra Bearer). Solo genera la ilustracion decorativa (sin texto ni cifras); puedes cambiar por otro proveedor de imagenes (Flux, Stability) manteniendo el mismo formato de salida b64_json."
    },
    {
      "id": "merge1",
      "name": "Combinar narrativa e imagen",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1480,
        300
      ],
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex"
      }
    },
    {
      "id": "code2",
      "name": "Construir HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "let analysis;\ntry { analysis = $('Usar analisis del cliente').first().json; } catch (e) { analysis = null; }\nif (!analysis || !Object.keys(analysis).length) { analysis = $('Analizar dataset').first().json; }\n\nlet aiText = \"\";\ntry {\n  const aiRaw = $('Agente IA (redacta narrativa)').first().json;\n  aiText = aiRaw.output || (aiRaw.content && aiRaw.content[0] && aiRaw.content[0].text) || (aiRaw.choices && aiRaw.choices[0] && aiRaw.choices[0].message.content) || aiRaw.text || \"\";\n} catch (e) { aiText = \"\"; }\n\nlet aiParsed = {};\ntry { aiParsed = JSON.parse(aiText); } catch (e) { aiParsed = { titulo: analysis.datasetName, resumen: aiText.slice(0, 400) }; }\n\nconst titulo = aiParsed.titulo || analysis.datasetName;\nconst resumen = aiParsed.resumen || (analysis.insights || []).join(\" \");\n\nlet imageBase64 = \"\";\ntry {\n  const imgRaw = $('Generar imagen IA').first().json;\n  imageBase64 = (imgRaw.data && imgRaw.data[0] && imgRaw.data[0].b64_json) || \"\";\n} catch (e) { imageBase64 = \"\"; }\n\nfunction esc(s) { return String(s).replace(/[&<>\"']/g, c => ({ \"&\": \"&amp;\", \"<\": \"&lt;\", \">\": \"&gt;\", '\"': \"&quot;\", \"'\": \"&#39;\" }[c])); }\n\n// Mismo mapeo categoria -> color que usa la consola (CATEGORY_THEME), para\n// que las graficas generadas aqui combinen con el resto del sistema.\nconst THEME_COLORS = {\n  \"Salud\": \"#D85A30\",\n  \"Educacion\": \"#1C7293\",\n  \"Tramites\": \"#065A82\",\n  \"Presupuesto y Finanzas\": \"#2E8B57\",\n  \"Demografia y Poblacion\": \"#7F77DD\",\n  \"Discapacidad\": \"#D4537E\",\n  \"Seguridad\": \"#21295C\",\n  \"Movilidad\": \"#2E6DA4\",\n  \"Ambiente\": \"#639922\",\n  \"Agropecuario\": \"#854F0B\",\n  \"Construccion e Infraestructura\": \"#5B6B7A\",\n};\nconst normalizedCategory = (analysis.category || \"\").normalize(\"NFD\").replace(/[̀-ͯ]/g, \"\");\nconst themeColor = THEME_COLORS[normalizedCategory] || \"#11233F\";\nfunction shade(hex, amt) {\n  const n = parseInt(hex.slice(1), 16);\n  const r = Math.min(255, Math.max(0, (n >> 16) + amt));\n  const g = Math.min(255, Math.max(0, ((n >> 8) & 0xff) + amt));\n  const b = Math.min(255, Math.max(0, (n & 0xff) + amt));\n  return \"#\" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);\n}\n\n// -------------------------------------------------------------------------\n// Escoge entre 4 y 7 bloques visuales en total, priorizando hasta 3\n// tarjetas de estadisticas y llenando el resto con graficas reales.\n// Si hay menos de 4 disponibles, se muestran los que existan (no se\n// inventan datos para rellenar).\n// -------------------------------------------------------------------------\nconst MAX_BLOQUES = 7;\nconst statsToShow = (analysis.stats || []).slice(0, 3);\nconst chartSlots = Math.max(0, MAX_BLOQUES - statsToShow.length);\nconst chartsToShow = (analysis.charts || []).slice(0, chartSlots);\n\nconst statBlocksHtml = statsToShow.map(function(s) {\n  return '<div class=\"block stat-block\">'\n    + '<div class=\"stat-label\">' + esc(s.label) + '</div>'\n    + '<div class=\"stat-value\" style=\"color:' + themeColor + '\">' + esc(s.value) + '</div></div>';\n}).join(\"\");\n\nconst chartBlocksHtml = chartsToShow.map(function(c, i) {\n  return '<div class=\"block chart-block\">'\n    + '<p class=\"block-title\">' + esc(c.title) + '</p>'\n    + '<canvas id=\"chart' + i + '\"></canvas></div>';\n}).join(\"\");\n\nconst chartScripts = chartsToShow.map(function(c, i) {\n  const isDonut = c.type === \"donut\";\n  const isLine = c.type === \"line\";\n  const isGrouped = c.type === \"grouped-bar\";\n  let datasets;\n  if (isGrouped) {\n    const palette = [themeColor, shade(themeColor, 60), shade(themeColor, -40), shade(themeColor, 100)];\n    datasets = JSON.stringify((c.series || []).map(function(s, j) {\n      return { label: s.name, data: s.values, backgroundColor: palette[j % palette.length] };\n    }));\n  } else {\n    const palette = [0, 40, -30, 70, -55, 90, -15, 110].map(function(d) { return shade(themeColor, d); });\n    datasets = JSON.stringify([{\n      data: c.values,\n      backgroundColor: isDonut ? palette : themeColor,\n      borderColor: isLine ? themeColor : \"#fff\",\n      borderWidth: isDonut ? 2 : (isLine ? 2 : 0),\n      fill: isLine,\n      tension: isLine ? 0.3 : 0\n    }]);\n  }\n  const chartType = isDonut ? \"doughnut\" : (isLine ? \"line\" : \"bar\");\n  return \"new Chart(document.getElementById('chart\" + i + \"'), { type: '\" + chartType + \"', \"\n    + \"data: { labels: \" + JSON.stringify(c.labels) + \", datasets: \" + datasets + \" }, \"\n    + \"options: { responsive: false, animation: false, plugins: { legend: { display: \" + (isDonut || isGrouped) + \", position: 'bottom', labels: { boxWidth: 10, font: { size: 10 } } } }, \"\n    + \"scales: \" + (isDonut ? \"{}\" : \"{ y: { beginAtZero: true } }\") + \" } });\";\n}).join(\"\\n\");\n\nconst imageHtml = imageBase64\n  ? '<img src=\"data:image/png;base64,' + imageBase64 + '\" class=\"hero-img\" alt=\"\">'\n  : '<div class=\"hero-img hero-img-fallback\"></div>';\n\nconst html = '<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"UTF-8\">'\n  + '<style>'\n  + \"body{font-family:'Segoe UI',Arial,sans-serif;background:#F3F5F7;margin:0;padding:0}\"\n  + '.wrap{width:1080px;padding:40px}'\n  + 'header{border-radius:16px;padding:32px;margin-bottom:24px;display:flex;gap:28px;align-items:center}'\n  + '.hero-img{width:170px;height:170px;border-radius:16px;object-fit:cover;flex-shrink:0;background:rgba(255,255,255,.2)}'\n  + '.hero-text{color:#fff}'\n  + '.badge{display:inline-block;background:rgba(255,255,255,.22);color:#fff;font-size:11px;font-weight:700;letter-spacing:.05em;text-transform:uppercase;padding:4px 12px;border-radius:20px;margin:0 0 12px}'\n  + '.hero-text h1{font-size:28px;margin:0 0 10px;line-height:1.2}'\n  + '.hero-text p{font-size:14px;color:rgba(255,255,255,.85);line-height:1.5;margin:0;max-width:720px}'\n  + '.grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(230px,1fr));gap:16px}'\n  + '.block{background:#fff;border-radius:12px;padding:18px 20px;border:1px solid #E2E6EA}'\n  + '.stat-block{background:#F3F5F7;border:none;display:flex;flex-direction:column;justify-content:center}'\n  + '.stat-label{font-size:12px;color:#5B6B7A;margin-bottom:6px}'\n  + '.stat-value{font-size:26px;font-weight:700}'\n  + '.block-title{font-size:12.5px;font-weight:600;color:#11233F;margin:0 0 10px;text-align:center}'\n  + '.chart-block canvas{max-height:170px}'\n  + 'footer{margin-top:22px;font-size:11px;color:#8B95A3}'\n  + '</style></head><body><div class=\"wrap\">'\n  + '<header style=\"background:' + themeColor + '\">'\n  + imageHtml\n  + '<div class=\"hero-text\">'\n  + '<p class=\"badge\">' + esc(analysis.category || \"Datos Abiertos\") + ' &middot; El Rosal</p>'\n  + '<h1>' + esc(titulo) + '</h1>'\n  + '<p>' + esc(resumen) + '</p>'\n  + '</div></header>'\n  + '<div class=\"grid\">' + statBlocksHtml + chartBlocksHtml + '</div>'\n  + '<footer>Generado automaticamente a partir de ' + esc(analysis.datasetName) + ' &middot; ' + analysis.totalRows + ' registros analizados.</footer>'\n  + '</div>'\n  + '<script>' + chartScripts + '</' + 'script>'\n  + '</body></html>';\n\nreturn [{ json: { html: html, analysis: analysis } }];"
      }
    },
    {
      "id": "http3",
      "name": "HTML a imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4000/render",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ html: $json.html, width: 1080 }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "notes": "Apunta al microservicio Puppeteer incluido (html-image-service/) o a un servicio pago como htmlcsstoimage.com."
    },
    {
      "id": "respond1",
      "name": "Responder al webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2200,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ type: 'tablero', title: $('Construir HTML').first().json.analysis.datasetName, category: $('Construir HTML').first().json.analysis.category, stats: $('Construir HTML').first().json.analysis.stats, insights: $('Construir HTML').first().json.analysis.insights, charts: $('Construir HTML').first().json.analysis.charts, columns: $('Construir HTML').first().json.analysis.columns, rows: $('Construir HTML').first().json.analysis.rows, imageBase64: $binary.data.toString('base64') }) }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Viene ya analizado (infografia)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Viene ya analizado (infografia)?": {
      "main": [
        [
          {
            "node": "Usar analisis del cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tiene datasetId?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiene datasetId?": {
      "main": [
        [
          {
            "node": "Traer datos de datos.gov.co",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalizar filas (manual)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traer datos de datos.gov.co": {
      "main": [
        [
          {
            "node": "Normalizar filas (Socrata)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar filas (Socrata)": {
      "main": [
        [
          {
            "node": "Analizar dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar filas (manual)": {
      "main": [
        [
          {
            "node": "Analizar dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usar analisis del cliente": {
      "main": [
        [
          {
            "node": "Agente IA (redacta narrativa)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar prompt de imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar dataset": {
      "main": [
        [
          {
            "node": "Agente IA (redacta narrativa)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar prompt de imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA (redacta narrativa)": {
      "main": [
        [
          {
            "node": "Combinar narrativa e imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo de Chat (OpenAI)": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA (redacta narrativa)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Preparar prompt de imagen": {
      "main": [
        [
          {
            "node": "Generar imagen IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar imagen IA": {
      "main": [
        [
          {
            "node": "Combinar narrativa e imagen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combinar narrativa e imagen": {
      "main": [
        [
          {
            "node": "Construir HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir HTML": {
      "main": [
        [
          {
            "node": "HTML a imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML a imagen": {
      "main": [
        [
          {
            "node": "Responder al webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "el-rosal-asistente"
  }
}